.small-icon {
  width: 20px; /* גובה מותאם אישית */
  height: 20px; /* רוחב מותאם אישית */
}

.small-icon-small {
  width: 16px; /* גובה מותאם אישית לאייקון הקטן */
  height: 16px; /* רוחב מותאם אישית לאייקון הקטן */
}
